@use '/src/styles/constants/colors';

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 450px;

  .inputContainer {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    label {
      font-size: 15px;
      color: colors.$GRAY3;
    }

    div {
      position: relative;
      width: 100%;

      input {
        width: 100%;
        padding: 8px;
        background-color: colors.$GRAYE;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 5%) 0 6px 24px 0, rgba(0, 0, 0, 8%) 0 0 0 1px;
      }

      .iconContainer {
        svg {
          position: absolute;
          top: -28px;
          right: 2%;
          color: colors.$GRAYA;
          cursor: pointer;

          &.colorCorrect {
            color: colors.$TEAL;
          }
        }
      }
    }

    span {
      font-size: 15px;
      font-weight: 600;
      color: colors.$RED;
    }
  }
}
