@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.container {
  flex-direction: column;
  row-gap: 25px;
  width: 500px;
  @include flexbox.flexbox(center, center);

  .valueContainer {
    @include flexbox.flexbox(end, center);
    width: 80%;
    height: 50px;
    padding: 0 20px;
    background-color: colors.$GRAYE;
    border-radius: 5px;

    .valueContainerValue {
      margin-right: 8px;
      font-weight: 700;
    }

    .percentage {
      color: colors.$GRAYA;
    }
  }

  .rangeContainer {
    position: relative;
    width: 100%;

    .myRange {
      z-index: 10000000;
      width: 100%;
      height: 4px;
      border-radius: 50%;

      &:focus {
        box-shadow: none;
      }
    }

    .myRange::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      // border-radius: 50%;
      // background-color: colors.$TEAL;
      // cursor: pointer;
      // z-index: 100000000;
      // &.myRange_GRAYA {
      //   background-color: colors.$GRAYA;
      // }
    }

    .myRange::-moz-range-thumb {
      z-index: 150;
      width: 30px;
      height: 30px;
      cursor: pointer;
      background: colors.$TEAL;
      border-radius: 50%;

      &.myRangeGRAYA {
        background: colors.$GRAYA;
      }
    }

    .rangeInputContainer {
      position: absolute;
      top: 50%;
      z-index: 10;
      width: 100%;
      height: 10px;
      pointer-events: none;

      .rangeInputWidth {
        height: 10px;
        pointer-events: none;
        background-color: colors.$TEAL;
        border-radius: 10px;
      }
    }

    .ballRangeContainer {
      @include flexbox.flexbox(between, center);
      position: absolute;
      top: 50%;
      z-index: 0;
      width: 100%;
      height: 10px;
      pointer-events: none;
      background-color: colors.$GRAYA;
      border-radius: 10px;

      .roundValue {
        z-index: -10;
        width: 23px;
        height: 23px;
        background-color: colors.$GRAYA;
        border-radius: 50%;

        &.selectedRoundValue {
          background-color: colors.$TEAL;
        }
      }
    }
  }

  .inputValueContainer {
    width: 105%;
    @include flexbox.flexbox(between, center);

    .inputValue {
      width: 48px;
      padding: 4px 0;
      font-weight: 700;
      color: colors.$GRAY6;
      cursor: pointer;
      background-color: colors.$GRAYD;
      border-radius: 8px;
      @include flexbox.flexbox(center, center);

      &:hover {
        color: colors.$WHITE;
        background-color: colors.$TEAL;
      }
    }
  }
}
