@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.container {
  width: 500px;
  @include flexbox.flexbox(center, center);
  flex-direction: column;
  row-gap: 25px;
  .value_container {
    @include flexbox.flexbox(end, center);
    width: 80%;
    height: 50px;
    border-radius: 5px;
    background-color: colors.$GRAYE;
    padding: 0px 20px;
    .value_container_value {
      font-weight: 700;
      margin-right: 8px;
    }
    .percentage {
      color: colors.$GRAYA;
    }
  }

  .range_container {
    position: relative;
    width: 100%;
    .myRange {
      width: 100%;
      height: 4px;
      border-radius: 50%;
      z-index: 10000000;
      &:focus {
        box-shadow: none;
      }
    }
    .myRange::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      // border-radius: 50%;
      // background-color: colors.$TEAL;
      // cursor: pointer;
      // z-index: 100000000;
      // &.myRange_GRAYA {
      //   background-color: colors.$GRAYA;
      // }
    }

    .myRange::-moz-range-thumb {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: colors.$TEAL;
      cursor: pointer;
      z-index: 150;
      &.myRange_GRAYA {
        background: colors.$GRAYA;
      }
    }
    .range_input_container {
      position: absolute;
      width: 100%;
      height: 10px;
      z-index: 10;
      top: 50%;
      pointer-events: none;
      //overflow: hidden;
      .range_input_width {
        pointer-events: none;
        background-color: colors.$TEAL;
        height: 10px;
        border-radius: 10px;
      }
    }
    .ball_range_container {
      @include flexbox.flexbox(between, center);
      pointer-events: none;
      position: absolute;
      background-color: colors.$GRAYA;
      height: 10px;
      top: 50%;

      border-radius: 10px;
      width: 100%;
      z-index: 0;
      .round_value {
        border-radius: 50%;
        width: 23px;
        height: 23px;
        background-color: colors.$GRAYA;
        //overflow: hidden;
        z-index: -10;
        &.selected_round_value {
          background-color: colors.$TEAL;
        }
      }
    }
  }
  .input_value_container {
    width: 105%;
    @include flexbox.flexbox(between, center);
    .input_value {
      width: 48px;
      border-radius: 8px;
      cursor: pointer;
      padding: 4px 0px;
      @include flexbox.flexbox(center, center);
      background-color: colors.$GRAYD;
      color: colors.$GRAY6;
      font-weight: 700;
      &:hover {
        color: colors.$WHITE;
        background-color: colors.$TEAL;
      }
    }
  }
}

// 'w-12 rounded-3xl cursor-pointer py-1 flex justify-center items-center bg-gray-200 text-xs text-gray-500 hover:text-white hover:bg-teal-600'
